@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-one: #09090e;
    --background-two: #181825;
}

body {
    overflow-x: hidden;
    background-color: var(--background-two);
}

.global-overlay {
    background-image: linear-gradient(var(--background-one), var(--background-two));
    background-repeat: no-repeat;
    padding-bottom: 32px;
}

.animate-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}