@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-one: #09090e;
    --background-two: #181825;
}

body {
    padding-bottom: 32px;
    overflow-x: hidden;
    background: linear-gradient(var(--background-one), var(--background-two));
}
